# Welcome to our Lab practice!

This lab is all about the package, Pandas. Are you ready? Let's go!

You will find some small tasks in sections below. 

> Try to figure out by yourself, or search for references. Being able to search and find information needed is an important skill that benefits you and your career for a long time.

## Set up the environment

### Task: import pandas, and name it as pd

In [4]:
import pandas as pd

## Data Creation

### Task: Find the data [here](https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)) for the GDP (nomial). For the top **10** countries, create a dataframe that has the names of country, the GDP of the country in 2021 (reported in 2022) by IMF in dollars , the population of the country (you can find the data [here](https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population))

In [7]:
df = pd.DataFrame({
    'Name':['United States','China','Germany','Japan','India','United Kingdom','France','Italy','Canada','Brazil'],
    'GDP':[29167779,18273357,4710032,4070094,3889130,3587545,3174099,2376510,2214796,2188419],
    'Population':[335893238,1409670000,84708010,123790000,1404910000,68265209,68534000,58968499,41288599,203080756]
})

## Data Accessing

### Task: List the countries and their GDP

In [10]:
df[['Name','GDP']]

             Name       GDP
0   United States  29167779
1           China  18273357
2         Germany   4710032
3           Japan   4070094
4           India   3889130
5  United Kingdom   3587545
6          France   3174099
7           Italy   2376510
8          Canada   2214796
9          Brazil   2188419

### Task: List the countries and their population

In [12]:
df.iloc[:, [0, 2]]

             Name  Population
0   United States   335893238
1           China  1409670000
2         Germany    84708010
3           Japan   123790000
4           India  1404910000
5  United Kingdom    68265209
6          France    68534000
7           Italy    58968499
8          Canada    41288599
9          Brazil   203080756

### Task: List the first country with its GDP and population

In [14]:
df.iloc[[0],:]

            Name       GDP  Population
0  United States  29167779   335893238

## Data Selection

### Task: Show the countries whose GDP is more than 5 trillion dollars 
> (Hint: the data source has US$ Million as a unit, hence you need to choose GDP > 5,000,000 unit)

In [17]:
df[df['GDP']>5000000]

            Name       GDP  Population
0  United States  29167779   335893238
1          China  18273357  1409670000

### Task: Show the countries whose GDP is more than 3 trillion dollars

In [19]:
df[df['GDP']>3000000]

             Name       GDP  Population
0   United States  29167779   335893238
1           China  18273357  1409670000
2         Germany   4710032    84708010
3           Japan   4070094   123790000
4           India   3889130  1404910000
5  United Kingdom   3587545    68265209
6          France   3174099    68534000

### Task: Show the countries whose pupulation is more than 1 billion

In [21]:
df[df['Population']>1000000000]

    Name       GDP  Population
1  China  18273357  1409670000
4  India   3889130  1404910000

### Task: Show the countries whose pupulation is less than 300 million

In [23]:
df[df['Population']<300000000]

             Name      GDP  Population
2         Germany  4710032    84708010
3           Japan  4070094   123790000
5  United Kingdom  3587545    68265209
6          France  3174099    68534000
7           Italy  2376510    58968499
8          Canada  2214796    41288599
9          Brazil  2188419   203080756

### Task: Show the countries whose pupulation is between 300 million and 500 million

In [25]:
df[(df['Population']>300000000) & (df['Population']<500000000)]

            Name       GDP  Population
0  United States  29167779   335893238

## Data Manipulation

### Task: Create a new column, called "GDP per capita", based on the column "GDP" and the column "Population"

In [28]:
df['GPD per capita'] = df['GDP']/df['Population']
df

             Name       GDP  Population  GPD per capita
0   United States  29167779   335893238        0.086836
1           China  18273357  1409670000        0.012963
2         Germany   4710032    84708010        0.055603
3           Japan   4070094   123790000        0.032879
4           India   3889130  1404910000        0.002768
5  United Kingdom   3587545    68265209        0.052553
6          France   3174099    68534000        0.046314
7           Italy   2376510    58968499        0.040301
8          Canada   2214796    41288599        0.053642
9          Brazil   2188419   203080756        0.010776

## Data Understanding

### Task: With the three numeric columns, show the statsitics of each:


1.   Count
1.   Max
1.   Min
1.   Mean
1.   Median
1.   Quantiles
1.   25% Quantile
1.   50% Quantile
1.   75% QUantile
1.   Variance
1.   Std
1.   Total

In [31]:
df.describe()

                GDP    Population  GPD per capita
count  1.000000e+01  1.000000e+01       10.000000
mean   7.365176e+06  3.799108e+08        0.039464
std    9.033148e+06  5.486067e+08        0.025473
min    2.188419e+06  4.128860e+07        0.002768
25%    2.575907e+06  6.833241e+07        0.017942
50%    3.738338e+06  1.042490e+08        0.043308
75%    4.550048e+06  3.026901e+08        0.053370
max    2.916778e+07  1.409670e+09        0.086836

In [32]:
df.iloc[:,[1,2,3]].median()

GDP               3.738338e+06
Population        1.042490e+08
GPD per capita    4.330779e-02
dtype: float64

In [33]:
df.iloc[:,[1,2,3]].sum()

GDP               7.365176e+07
Population        3.799108e+09
GPD per capita    3.946363e-01
dtype: float64

In [34]:
df.iloc[:,[1,2,3]].median()

GDP               3.738338e+06
Population        1.042490e+08
GPD per capita    4.330779e-02
dtype: float64

In [35]:
df.iloc[:,[1,2,3]].var()

GDP               8.159776e+13
Population        3.009693e+17
GPD per capita    6.488699e-04
dtype: float64

In [36]:
df = df.drop('GDP', axis = 1) # axis = 0 --> drop row, axis = 1 --> drop column

In [37]:
df

             Name  Population  GPD per capita
0   United States   335893238        0.086836
1           China  1409670000        0.012963
2         Germany    84708010        0.055603
3           Japan   123790000        0.032879
4           India  1404910000        0.002768
5  United Kingdom    68265209        0.052553
6          France    68534000        0.046314
7           Italy    58968499        0.040301
8          Canada    41288599        0.053642
9          Brazil   203080756        0.010776