# Welcome to our Lab practice!

This lab is all about the package, Numpy. Are you ready? Let's go!

You will find some small tasks in sections below. 

> Try to figure out by yourself, or search for references. Being able to search and find information needed is an important skill that benefits you and your career for a long time.

## Import the package and rename it as np

In [3]:
import numpy as np

## Array Creation

### Task: Create a numpy array from a list of integers

In [6]:
list = [1,2,3,4,5,6]
a = np.array(list)
a

array([1, 2, 3, 4, 5, 6])

### Task: Create a numpy array of size 6, filled with zeros

In [8]:
b = np.zeros(6, dtype = int)
b

array([0, 0, 0, 0, 0, 0])

### Task: Create a numpy array of size 6, filled with ones

In [10]:
c = np.ones(6, dtype = float)
c

array([1., 1., 1., 1., 1., 1.])

### Task: Create a numpy array with values from 0 to 10

In [12]:
d = np.arange(10, dtype = int)
d

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

### Task: Create a numpy matrix of 2*3 integers, filled with zeros

In [14]:
e = np.zeros((2,3), dtype = int)
e

array([[0, 0, 0],
       [0, 0, 0]])

### Task: Create a numpy matrix of 3*2 integers, filled with ones

In [16]:
f = np.ones((2,3), dtype = int)
f

array([[1, 1, 1],
       [1, 1, 1]])

### Task: Create a numpy matrix of 3*2 integers, filled with random integers in [0, 10]

In [18]:
g = np.random.randint(0,10,(3,2), dtype = int)
g

array([[9, 7],
       [1, 8],
       [5, 9]])

### Task: Create a numpy matrix of 100 * 2, filled with random float value in [0, 1]

In [20]:
h = np.random.random((100,2))
h

array([[0.66662565, 0.55994525],
       [0.80746042, 0.05564104],
       [0.55473233, 0.23463657],
       [0.07403717, 0.21032786],
       [0.88877664, 0.70309789],
       [0.33618851, 0.55690612],
       [0.98093963, 0.70783636],
       [0.76991693, 0.55420483],
       [0.42573094, 0.98599521],
       [0.46781876, 0.40386738],
       [0.32623971, 0.83592143],
       [0.41617513, 0.66472828],
       [0.44932239, 0.9676482 ],
       [0.53129903, 0.41792366],
       [0.8529761 , 0.29235822],
       [0.40967132, 0.336542  ],
       [0.04891414, 0.97624652],
       [0.43393158, 0.98465314],
       [0.38977428, 0.82047825],
       [0.74383398, 0.33898696],
       [0.01399059, 0.47061362],
       [0.67005513, 0.5519067 ],
       [0.23694958, 0.46787541],
       [0.06488238, 0.95547613],
       [0.16897157, 0.2811786 ],
       [0.27764826, 0.48584258],
       [0.88126342, 0.05171202],
       [0.40762589, 0.36747667],
       [0.85018806, 0.76892661],
       [0.87913144, 0.59388655],
       [0.96702988, 0.44008939],
       [0.18543899, 0.36259984],
       [0.76970388, 0.61347287],
       [0.50386964, 0.42182914],
       [0.53877837, 0.82784263],
       [0.13314074, 0.28876726],
       [0.0913808 , 0.04298127],
       [0.12980827, 0.21320984],
       [0.48471707, 0.26468841],
       [0.23636098, 0.93463445],
       [0.69726358, 0.29895662],
       [0.8330947 , 0.46328557],
       [0.95814207, 0.25510598],
       [0.69407083, 0.57723582],
       [0.16163545, 0.85663556],
       [0.46967366, 0.7192346 ],
       [0.95610047, 0.71736763],
       [0.05384968, 0.16907739],
       [0.37607841, 0.23222663],
       [0.89850459, 0.93625034],
       [0.7254415 , 0.65721126],
       [0.70594875, 0.60923849],
       [0.60421802, 0.121021  ],
       [0.75025225, 0.9641525 ],
       [0.78046236, 0.14319724],
       [0.93130538, 0.89724072],
       [0.09941906, 0.70261437],
       [0.94542693, 0.97428922],
       [0.52022617, 0.81774488],
       [0.76613292, 0.53443848],
       [0.37280722, 0.47843457],
       [0.49113643, 0.65923393],
       [0.83429864, 0.88303331],
       [0.76031343, 0.55134476],
       [0.07212673, 0.75713108],
       [0.09935877, 0.03580196],
       [0.48848368, 0.39419998],
       [0.77594593, 0.00507881],
       [0.0521776 , 0.89240851],
       [0.23782165, 0.20105225],
       [0.33004869, 0.71248131],
       [0.95484991, 0.63296006],
       [0.27680828, 0.50204015],
       [0.98661099, 0.61523668],
       [0.94979387, 0.44263006],
       [0.46876425, 0.78498402],
       [0.11527669, 0.30304852],
       [0.8147135 , 0.70452146],
       [0.3906692 , 0.81560795],
       [0.27932257, 0.95682905],
       [0.14957233, 0.69522175],
       [0.12274773, 0.56207294],
       [0.72408365, 0.21839134],
       [0.7039993 , 0.21712242],
       [0.48641195, 0.42101576],
       [0.39973303, 0.86780966],
       [0.13731513, 0.88326971],
       [0.68885371, 0.73722678],
       [0.08641525, 0.70455662],
       [0.47895379, 0.79677497],
       [0.7826673 , 0.9505104 ],
       [0.82294728, 0.28153421],
       [0.38093141, 0.23913761],
       [0.44634759, 0.43991382],
       [0.93388744, 0.34286545],
       [0.71936456, 0.2310542 ],
       [0.7913095 , 0.06272959],
       [0.2914731 , 0.93856969],
       [0.95118739, 0.16060488],
       [0.11961229, 0.79387991]])

### Task: Create a numpy matrix of 2 * 3 * 4, filled with integers from 1 to 24.

In [22]:
i = np.arange(1,24+1).reshape(2,3,4)
i

array([[[ 1,  2,  3,  4],
        [ 5,  6,  7,  8],
        [ 9, 10, 11, 12]],

       [[13, 14, 15, 16],
        [17, 18, 19, 20],
        [21, 22, 23, 24]]])

## Array Indexing

### Task: Let X be a numpy array, and X = np.array([1, 2, 3, 4, 5])

In [25]:
x = np.array([1,2,3,4,5])

### Task: Show the first element of X

In [27]:
x[0]

1

### Task: Show the last element of X

In [29]:
x[-1]

5

### Task: Show the first 3 elements of X

In [31]:
x[:3]

array([1, 2, 3])

### Task: Show the last 3 elements of X

In [33]:
x[-3:]

array([3, 4, 5])

### Task: Show the elements of X except the last one

In [35]:
x[:-1]

array([1, 2, 3, 4])

### Task: Let X be a numpy matrix with dimension 3 * 4, and filled from 0 to 11.

In [37]:
x = np.arange(12, dtype = int).reshape(3,4)
x

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

### Task: Show the first row of X

In [39]:
x[0]

array([0, 1, 2, 3])

### Task: Show the first column of X

In [41]:
x[:,0]

array([0, 4, 8])

### Task: Show the first element of the first row of X

In [43]:
x[0,0]

0

### Task: Show the last row of X

In [45]:
x[-1]

array([ 8,  9, 10, 11])

### Task: Show the last column of X

In [47]:
x[:,-1]

array([ 3,  7, 11])

### Task: Show the last element of the last row of X

In [49]:
x[-1,-1]

11

### Task: Show all the rows except the last row of X

In [51]:
x[:-1]

array([[0, 1, 2, 3],
       [4, 5, 6, 7]])

### Task: Show all the columns except the last column of X

In [53]:
x[:,:-1]

array([[ 0,  1,  2],
       [ 4,  5,  6],
       [ 8,  9, 10]])

### Task: Show the first two elements of the first two rows

In [55]:
x[:2,:2]

array([[0, 1],
       [4, 5]])

## Array Statistics

### Task: Create a numpy array X, print the sum, mean, std, var, max, min of it

In [58]:
x

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

### Task: Create a numpy matrix X as n * m, print the sum, mean, std, var, max, min of the 1st row of it.

In [60]:
x.shape

print(x[0].sum())
print(x[0].mean())
print(x[0].std())
print(x[0].var())
print(x[0].max())
print(x[0].sum())

6
1.5
1.118033988749895
1.25
3
6

## Array Linear Algebra

###Task: Create two numpy matrix X with 2 * 2, and Y with 2 * 2. Practice Linear Algebra operations, such as +, -, *, .T, @, etc.

In [63]:
x = np.arange(0,4,1).reshape(2,2)
y = np.arange(4,8,1).reshape(2,2)

In [64]:
x + y

array([[ 4,  6],
       [ 8, 10]])

In [65]:
x - y

array([[-4, -4],
       [-4, -4]])

In [66]:
x * y

array([[ 0,  5],
       [12, 21]])

In [67]:
x @ y

array([[ 6,  7],
       [26, 31]])

In [68]:
x @ y.T

array([[ 5,  7],
       [23, 33]])