# Welcome to our third Lab Practice!

This lab is all about defining functions with return values. Are you ready? Let's get started!

You will find some small tasks in sections below. After defining functions, call them to test.

## Define functions with return numeric values.

###Task: define a function that return the absolute value of *n*, where *n* is a parameter

In [6]:
def return_abs(n):
    x = 0
    if n <= 0:
        x = -n
    else:
        x = n
    return x

return_abs(-245)

245

###Task: define a function that return the product value of *n* and *m*, where *n, m* are parameters

In [8]:
def product_nm(n,m):
    x = n * m
    return x

product_nm(2,3)

6

###Task: define a function that return the result of raise *n* to the power of *m*, where *n, m* are parameters

In [10]:
def power_nm(n,m):
    x = n ** m
    return x

power_nm(2,3)

8

###Task: define a function that return the average of three numbers, *x, y, z*, where *x, y, z* are parameters

In [12]:
def avg_xyz(x,y,z):
    a = (x+y+z)/3
    return a

avg_xyz(2,2,3)

2.3333333333333335

###Task: define a function that return the minimal of three numbers, *x, y, z*, where *x, y, z* are parameters

In [14]:
def find_min(x,y,z):
    if x == y and x == z:
        return 'all are equal'
    elif x <= y and x <= z:
        return x
    elif y <= x and y <= z:
        return y
    else:
        return z

find_min(2,3,7)

2

###Task: define a function that print sum of integers 1 to *n* (hint: you can use a for loop), where *n* is a parameter

In [16]:
def sum_int_1_to_n(n):
    sum = 0
    for i in range(1,n+1):
        sum += i
    return sum

sum_int_1_to_n(10)

55

## Define functions with return str values.

###Task: define a function that return "hello, *name*" where *name* is a parameter

In [19]:
def return_hello_name(name):
    return 'hello, ' + name

return_hello_name('Thanh')

'hello, Thanh'

###Task: define a function that return "hello world" *n* times, where *n* is a parameter

In [21]:
def return_hello_world_n_time(n):
    string = ''
    for i in range(n):
        string = string + '\nhello world'
    return string

print(return_hello_world_n_time(5))

hello world
hello world
hello world
hello world
hello world

###Task: define a function that concatenate message 1 and message 2 together and return it

In [23]:
def concat_ab(a,b):
    return a + b

concat_ab('Thanh',' Tran')

'Thanh Tran'

## Define functions with return boolean values.

###Task: define a function that return the boolean value for given *n* is even or not, *n* is a parameter

In [26]:
def check_even(n):
    if n % 2 == 0:
        return True
    else:
        return False

check_even(123)

False

###Task: define a function that return the boolean value for given *n* is odd or not, *n* is a parameter

In [28]:
def check_odd(n):
    if n % 2 != 0:
        return True
    else:
        return False

check_odd(123)

True

###Task: define a function that return the boolean value for given *n* is prime number or not, *n* is a parameter

In [30]:
def check_prime(n):
    prime_check = 0
    for i in range(2,n):
        if n % i == 0:
            prime_check = 1
            break
    if prime_check == 0:
        return True
    else:
        return False

check_prime(89)

True

###Task: define a function that return the boolean value for given *n* is positive (>0) or not, *n* is a parameter

In [32]:
def check_positive(n):
    if n >= 0:
        return True
    else:
        return False

check_positive(-1)

False

###Task: define a function that return the boolean value for whether or not given *n* is divisible by 6, *n* is a parameter

In [34]:
def chec_divisible_6(n):
    if n % 6 == 0:
        return True
    else:
        return False
        
chec_divisible_6(12)

True

## Define functions return multiple values.

###Task: define a function that return the min, max, avg, and total of given 3 numbers *x, y, z*, where *x, y, z* are parameters

In [37]:
def calculate_a_lot(x,y,z):
    min_ = min(x,y,z)
    max_ = max(x,y,z)
    avg_ = avg_xyz(x,y,z)
    total_ = x+y+z
    return min_ ,max_ ,avg_ ,total_

calculate_a_lot(1,2,3)

(1, 3, 2.0, 6)